.form-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 16px;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 42px;
  background: #eff4ff;

  h1 {
    font-size: 18px;
    color: #333;
    font-weight: lighter;
    letter-spacing: 0.02rem;
  }

  .btn-menu {
    border-radius: 0;
    background: #eff4ff;
    color:#444;
  }
}

form {
  padding: 4vmin;
  display: flex;
  flex-direction: column;
  background: #eff4ff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  z-index: 0;

  legend {
    color: #333;
    font-size: 24px;
    padding-bottom: 16px;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;

    section {
      p {
        padding-bottom: 8px;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #bbbbbb;


    .top-pad {
      padding-top: 16px;
      display: flex;
      gap: 16px;
    }
  }
}
