@use "variables.scss" as *;

.table-content {
  position: relative;
  top: 0;
  overflow: auto;
  height: calc(100vh - $topBarHeight);
  width: 100vw;

  table {
    width: 100%;
    background: #f9faff;

    border-collapse: separate;
    border-spacing: 0;

    thead {
      position: sticky;
      top: 0;
      left: 0;
      background: #0a6bc4;
      z-index: 1;
      font-size: 12pt;

      tr {
        th {
          color: #fff;
          padding: 8px;
          white-space: nowrap;
          text-overflow: ellipsis;

          border-top: 1px solid #bdcede;
          border-left: 1px solid #bdcede;

          &:nth-child(2) {
            border-left: none;
          }

          &.sticky-left {
            position: sticky;
            left: 0;
            background: #0a6bc4;
            border-right: 1px solid #bdcede;
            z-index: 3;
          }
          &.fixed-width {
            width: 100px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: lighter;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #444;
          font-size: 10pt;
          padding: 10px;

          border-top: 1px solid #bdcede;
          border-left: 1px solid #bdcede;

          .status {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            gap: 32px;

            div:nth-of-type(2) {
              span {
                position: relative;
                display: inline-block;
                top: 3px;
              }
            }
          }

          &:has(mat-icon) {
            padding: 0;
            text-align: center;
            position: relative;
            mat-icon {
              position: absolute;
              top: 5px;
              &:hover {
                cursor: pointer;
              }
            }
          }

          &:has(input) {
            padding: 0 6px;
          }

          &.pointer {
            &:hover {
              cursor: pointer;
            }
          }

          &.sticky-left {
            position: sticky;
            left: 0;
            background: #f9faff;
            border-right: 1px solid #bdcede;
          }

          &.center {
            text-align: center;
          }

          &.valid {
            color: #fff;
            background: #6ab96f
          }

          &.right {
            text-align: right;
          }
          input {
            &:hover {
              cursor: pointer;
            }
            width: 100%;
            padding: 8px;
          }

          &:nth-child(2) {
            border-left: none;
          }
        }

        &.total-line {
          td {
            font-weight: bold;
            background: #dee7ff;
            border-bottom: 1px solid #bdcede;
          }
        }
      }
    }
  }
}
