@use "../../styles/variables.scss" as *;

.report-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $topBarHeight);
  overflow: auto;
  position: relative;
  align-items: center;
  justify-content: center;

  .filter-container {
    width: 100vw;
    padding: 4vmin;
    background: #eff4ff;
    display: flex;
    gap: 16px;
  }

  .table-content {
    table {
      tbody {
        tr {
          td {
          }
        }
      }
    }
  }
}
