<div class="settings-wrapper">
  <div class="container">
    <form [formGroup]="form" (submit)="onSubmit()">

      <div class="inputs-container">

        <div class="input-container">
          <mat-form-field appearance="outline" class="flx-1">
            <mat-label>Cashback(%)</mat-label>
            <input maxlength="6" matInput placeholder="cashback em porcentagem" [formControlName]="cashbackPercentageFieldName">
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="outline" class="flx-1">
            <mat-label>Expiração(dias)</mat-label>
            <input maxlength="3" matInput placeholder="expiração em dias" [formControlName]="expirationDaysFieldName">
          </mat-form-field>
        </div>
      </div>

      <div class="form-actions">
        <div class="top-pad">
          <button mat-raised-button type="button">
            <span>Cancelar</span>
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
          <button mat-raised-button type="submit">
            <mat-icon svgIcon="save"></mat-icon>
            <span>Salvar</span>
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
