@use "../../styles/variables.scss" as *;

.settings-wrapper {
  height: calc(100vh - $topBarHeight);
  .container {
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 4vmin;
    z-index: 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 36px 16px 16px 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.04);
      background-color: #f5f6fa;
    }

    .form-selector {
      display: flex;
      flex-direction: row;

      button {
        width: 100%;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 10pt;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #c4c4c4;

        &.selected {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          color: #fff;
          background-color: #0a6bc4;
        }
      }
    }
  }
}

@media('max-width: 480px') {
  .settings-wrapper {
    .container {
      .form-selector {
        button {
          letter-spacing: 1px;
          font-size: 8pt;
        }
      }
    }
  }
}
