<app-top-bar></app-top-bar>

<div class="settings-wrapper">
  <div class="container">
    <div class="content">
      <div class="form-selector">
        @for(item of formSelector; track  item.id) {
          <button mat-stroked-button (click)="setForm(item)">{{item.title}}</button>
        }
      </div>
      @switch (selectedOption) {
        @case(1) {
          <app-cashback></app-cashback>
        }

        @case(2) {
          <app-action></app-action>
        }

        @case(3) {
          <app-text-message></app-text-message>
        }
        @case(4) {
          <app-marketing></app-marketing>
        }
      }
    </div>
  </div>
</div>
