<app-top-bar></app-top-bar>

<div class="settings-wrapper">
  <div class="container">

    <div class="form-selector">
      @for(item of formSelector; track  item.id) {
        <button mat-ripple mat-flat-button (click)="setForm(item)">{{item.title}}</button>
      }
    </div>
      @switch (selectedOption) {
        @case(1) {
          <app-cashback></app-cashback>
        }

        @case(2) {
          <app-action></app-action>
        }

        @case(3) {
          <app-text-message></app-text-message>
        }
      }
  </div>
</div>
