@use "../../styles/variables.scss" as *;

.settings-wrapper {
  height: calc(100vh - $topBarHeight);
  .container {
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 4vmin;
    z-index: 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #f5f6fa;
      padding: 36px 16px 16px 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    }

    .form-selector {
      display: flex;
      flex-direction: row;
      gap: 2vmin;
      padding-bottom: 20px;

      button {
        border-radius: 6px;
        width: 100%;
        background: #eff4ff;
        color: #333;
        border: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.04);
        font-size: 8pt;
      }
    }
  }
}
