<app-top-bar></app-top-bar>

<div class="report-wrapper">
  <div class="cashbacks">

    <div class="cashback total">
      <mat-icon svgIcon="exchange"></mat-icon>
      <div class="paragraphs">
        <p class="value">Total disponível</p>
        <p class="value">{{ data | totalCashBacks | currency: 'BRL' }}</p>
      </div>
    </div>

    @for(row of data; track $index) {
      <div class="cashback item">
        <mat-icon svgIcon="shopping"></mat-icon>
        <div class="paragraphs">
          <p class="center">Expira: {{ row.cashbackExpiration }}</p>
          <p class="center">Valor: {{ row.saleValue | cashBack: row.cashback | currency: 'BRL' }}</p>
          <p>Status: {{ row.withdrawnDate | cashBackStatus: currentDate: row.cashbackExpiration }} </p>
        </div>
      </div>
    }

  </div>
  <div class="marketing">
    <div class="paragraphs">
      <p>
        ✨ E aproveite pra ficar por dentro das novidades, looks e promoções:
      </p>
      <p></p>
      <p>
        🌐 Nosso site: www.modamaniafashion.com.br
      </p>
      <p>
        📸 Instagram: &#64;modamaniafashion
      </p>
      <p></p>
      <p>
        💖 Te esperamos lá!
      </p>
      <p></p>
      <p>
        #ModaMania #Cashback #ModaFeminina #VemSerFashion
      </p>
    </div>
  </div>
</div>
