@use "../../styles/variables.scss" as *;

.report-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $topBarHeight);
  overflow: auto;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  .cashbacks {
    display: flex;
    flex-direction: column;

    &.first {
      padding-top: 32px;
    }

    &.generic {
      padding-bottom: 32px;
    }

    .cashback {

      display: flex;
      align-items: center;
      gap: 16px;

      width: 85vw;
      color: #ffffff;
      padding: 16px;
      border-radius: 8px;

      &.total {
        background: linear-gradient(135deg, #3eab44, #66bb6a);
      }

      &.item {
        position: relative;
        color: #444;
        background: #f3f3f3;
        padding: 8px 16px;
        border-radius: 0;

        &:first-of-type {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }

        &:last-of-type {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &:not(:first-of-type) {
          &::after {
            position: absolute;
            top: 0;
            content: "";
            height: 1px;
            width: calc(100% - 32px);
            background: #dddddd;
          }
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }

      mat-icon[svgIcon="exchange"] {
        height: 48px;
        width: 48px;
        font-size: 48px;
      }

      mat-icon[svgIcon="shopping"] {
        height: 24px;
        width: 24px;
        font-size: 24px;
      }

      p {
        font-size: 14px;
        line-height: 24px;

        &.status {
          font-weight: lighter;
          color: #333;
        }

        &.value {
          font-size: 16px;
          font-weight: bolder;
        }

        &.total {
          padding-top: 16px;
          font-size: 24px;
        }
      }
    }
  }

  .marketing {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    color: #333;
    width: 85vw;

    padding: 16px 0;

    .paragraphs {
      border-radius: 16px;
      background: #d1f5fc;
      padding: 16px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);

      p {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.02rem;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 16px;

        a {
          text-decoration: none;
          color: #0a6bc4;

          &:visited {
            color: #0a6bc4;
          }
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }
}
