@use "../../styles/variables.scss" as *;



@media (max-width: 400px) {
  .report-wrapper {
    .table-content {
      table {
        thead {
          tr {
            th {
              padding: 2px;
              font-size: 10px;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 2px;
              font-size: 10px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

