<div class="form-title">
  <mat-icon svgIcon="email"></mat-icon>
  <h1>Mensagem do dia: </h1>
  <button type="button" class="btn-menu" mat-flat-button [matMenuTriggerFor]="menu" (menuOpened)="isMenuOpen = true" (menuClosed)="isMenuOpen = false">
    <mat-icon [svgIcon]="isMenuOpen ? 'calendar_today' : 'today'"></mat-icon>
    <span>{{ currentDay?.day }}</span>
  </button>
  <mat-menu #menu="matMenu">
    @for (btn of days; track $index) {
      <button type="button" mat-menu-item (click)="setCurrentDay(btn)">{{ btn['day'] }}</button>
    }
  </mat-menu>
</div>

<form [formGroup]="form" (submit)="onSubmit()">
  <fieldset>
    <div class="inputs-container">

      <div class="input-container">
        <mat-form-field>
          <textarea style="height: 30vh" formControlName="message" matInput placeholder="Mesangem que será enviada para seus clientes..."></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="form-actions">

      <div class="top-pad">
        <button (click)="resetValues()" mat-raised-button type="button">
          <span>Cancelar</span>
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
        <button mat-raised-button type="submit" [disabled]="!formIsValid || formIsPristine">
          <mat-icon svgIcon="save"></mat-icon>
          <span>Salvar</span>
        </button>
      </div>
    </div>
  </fieldset>
</form>

