@use "../../styles/variables.scss" as *;

.import-data-wrapper {
  height: calc(100vh - $topBarHeight);
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;

  .import-file-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 5px dotted #9fb9ff;
    background: #eff4ff;
    height: calc(85vh - $topBarHeight);
    width: calc(85vw);
    overflow: auto;

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 20px;
      text-align: center;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      background: #0a6bc4;
      color: #fff;
      width: 80%;

      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      }

      .left-side {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .8rem;

        mat-icon {
          font-size: 40px;
          width: 40px;
          height: 40px;
        }
      }

      .right-side {
        h6 {
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }

  .mat-fab {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    background: #0a6bc4;
    color: white;
    font-size: 12pt;
  }
}
