<div class="import-data-wrapper">

  @if(!(tableData.length > 0)) {
    <div class="import-file-content">
      <input #fileInput type="file" accept=".csv,.txt" (change)="onFileSelected($event)" hidden />
      <button mat-flat-button (click)="openFileInput()">
        <mat-icon svgIcon="post_add"></mat-icon>
        <span>Selecione um arquivo...</span>
      </button>
    </div>
  } @else {
    <div class="table-content">
      <table>
        <thead>
        <tr>
          <th class="sticky-left"> Id</th>
          <th>Nome</th>
          <th>Tel</th>
          <th>Data Venda</th>
          <th>Valor</th>
          <th class="fixed-width">CashBack (%)</th>
          <th class="fixed-width">Expiração (d)</th>
        </tr>
        </thead>
        <tbody>
          @for(row of tableData; track $index) {
            <tr>
              <td class="sticky-left">{{ row.saleId }}</td>
              <td>{{ row.clientName }}</td>
              <td class="center">{{ row.clientPhone }}</td>
              <td class="center">{{ row.saleDate }}</td>
              <td class="center">{{ row.saleValue | currency: 'BRL' }}</td>
              <td class="center">
                <input #cashbackInput (blur)="setNewCashBack(row, cashbackInput.value)" maxlength="4" [value]="row.cashback">
              </td>
              <td class="center">
                <input #expirationInput (blur)="setNewExpirationDay(row, expirationInput.value)" maxlength="3" [value]="row.defaultExpiration">
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <button (click)="importData()" class="mat-fab" mat-fab>
      <mat-icon svgIcon="save"></mat-icon>
    </button>
  }
</div>
