@use '../../styles/variables.scss' as *;

.top-bar-wrapper {
  background-color: #fff;
  display: flex;
  height: $topBarHeight;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 10;

  .custom-svg {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }

  .box {
    flex: 1;
    display: flex;
    align-items: center;

    &.left-side {
      display: flex;
      justify-content: flex-start;
      padding-left: 6vmin;

      mat-icon[svgIcon="home"] {
      }
    }

    &.center {
      display: flex;
      justify-content: center;
      gap: 16px;

      .center1 {
        width: 48px;
      }

      .center2 {
        width: fit-content;
        white-space: nowrap;
        p {
          color: #333;
          letter-spacing: 0.05rem;
          font-weight: 500;
        }
      }
    }

    &.right-side {
      display: flex;
      justify-content: flex-end;
      padding-right: 6vmin;

      mat-icon[svgIcon="exit_to_app"] {
      }
    }
  }
}
