@use "../../styles/variables.scss" as *;

.whatsapp-wrapper {
  height: calc(100vh - $topBarHeight);
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .whatsapp-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 5px dotted #87ff8a;
    background: #bfffc1;
    height: 400px;
    width: 400px;
    overflow: auto;

    img {
      height: 200px;
      width: 200px;
    }

    button {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 20%;
      border-radius: 8px;
      background: #37c53a;
      span:nth-child(1) {
        margin-right: 8px;
      }
    }
  }
}
